<%= form_for(@treatment) do |f| %>
  <% if @treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
      <% @treatment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
  	<%= f.label "Flokkur" %><br />
	<%= select(:treatment, :category_id, Category.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Velja flokk'})%>
  </div>
  
  <div class="field">
    <%= f.label "Nafn" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Lýsing" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
