<p id="notice"><%= notice %></p>

  <b>Flokkur:</b>
  <p>
    <%= @treatment.category.name %>
  </p>

  <b>Nafn:</b>
  <p>
    <%= @treatment.name %>
  </p>


  <b>Lýsing:</b>
  <p>
    <%= @treatment.description %>
  </p>


<%= link_to 'Breyta', edit_treatment_path(@treatment) %> |
<%= link_to 'Til baka', treatments_path %>
