
  <h3><p>Meðferðin <%= @treatment.name %></p></h3>


  <p>
    <%= simple_format(@treatment.description) %>
  </p>
  
  <br />
    
  <p>Meðferðaraðilar sem bjóða uppá þessa meðferð</p><br />
  
  <% User.all.each do |user| %> 

	<% user.treatments.each do |t| %>

	  <% if t.id == @treatment.id && user.is_approved == 1 %> 
		<%= link_to user.name, member_path(user.id)  %><br />

	  <% end %>
	<% end %>
  <% end %>

<% if (current_user && (current_user.is_admin).to_i == 1) %>
<%= link_to 'Breyta', edit_treatment_path(@treatment) %> |
<% end %>
<%= link_to 'Til baka', treatments_path %>
