<%= nested_form_for @personal_test do |f| %>


  <div class="field">
    <%= f.label "Nafn prófs" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Lýsing" %>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
  	<%= f.fields_for :questions do |ff| %>
  	  <%= ff.label "Spurning" %>
  	  <%= ff.text_field :question_text %>
  	  <%= ff.link_to_remove "Eyða Spurningu" %>
  	  <%= ff.label "Vægi Spurningar" %>
  	  <%= ff.number_field :value %>
  	  <%= ff.label "Flokkur" %>
	  <%= ff.select :category_id, options_for_select(Category.all.collect {|p| [ p.name, p.id ] }, :selected => ff.object.category_id), :prompt => 'Veldu flokk' %>
	  <br />
	  <br />
	  <br />
    <% end %>
  </div>
  
  
  <%= f.link_to_add "Ný Spurning", :questions %><br />
  <br />
  <div class="actions">
    <%= f.submit 'Vista' %>
  </div>
<% end %>
