<%= nested_form_for @personal_test do |f| %>
  <% if @personal_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_test.errors.count, "error") %> prohibited this personal_test from being saved:</h2>

      <ul>
      <% @personal_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nafn prófs" %>
    <%= f.text_field :name %><br />
  </div>
  <div class="field">
    <%= f.label "Lýsing prófs" %>
    <%= f.text_area :description %><br />
  </div>
  
  <div class="field">
  	<%= f.fields_for :questions do |ff| %>
  	  <%= ff.label "Spurning" %>
  	  <%= ff.text_field :question_text %>
  	  <%= ff.link_to_remove "Eyða Spurningu" %>
  	  <%= ff.label "Vægi Spurningar" %>
  	  <%= ff.number_field :value %><br />
    <% end %>
  </div>
  
  
  <%= f.link_to_add "Ný Spurning", :questions %><br />
  <br />
  <div class="actions">
    <%= f.submit 'Áfram' %>
  </div>
<% end %>
