<h3>Tilbúin próf</h3>

<table class="table table-striped"> 
  <thead> 
    <tr> 
	  <th>ID</th> 
	  <th>Nafn</th>
	  <th>Lýsing</th>
      <th>Búið til</th>
	  <th>Aðgerðir</th> 
	</tr> 
  </thead> 
  <tbody>  
	  <% @personal_tests.each do |pt| %> 
	    <tr> 
	      <td><%= pt.id %></td> 
	      <td><%= link_to pt.name, personal_test_path(pt) %></td> 
	      <td><%= pt.description %></td>
		  <td><%= pt.created_at %></td>
	  	  <td>
	  	  	<%= link_to 'Breyta', edit_personal_test_path(pt), :class => 'btn btn-mini' %> 
	  	  	<%= link_to 'Eyða', personal_test_path(pt), :method => :delete, :confirm => 'Ertu viss?', :class => 'btn btn-mini btn-danger' %>
	  	  </td> 
		</tr> 
	  <% end %> 
   </tbody> 
</table> 

<br />

<%= link_to 'Nýtt próf', new_personal_test_path %>
