<p id="notice"><%= notice %></p>

<div class="fields">
  <div class="field">
    <%= @personal_test.name %>
  </div>
  <div class="field">
    <%= @personal_test.description %>
  </div>
  <div class="field">
  <% @personal_test.questions.each do |question| %> 
    <%= check_box_tag "@personal_test[question_ids][]", question.id, @personal_test.questions.include?(question) %>
    <!-- <%= check_box_tag "@personal_test[questions][]", question.id, checked, {:id => "personal_test_questions_#{question.id}" %>-->
    <%= question.question_text %>  
  <% end %>
  </div>
</div>
<%= link_to 'Breyta', edit_personal_test_path(@personal_test) %> |
<%= link_to 'Til baka', personal_tests_path %>




