<p id="notice"><%= notice %></p>

<div class="form" id="question">
  <div class="field">
    <%= @personal_test.name %>
  </div>
  <div class="field">
    <%= @personal_test.description %>
  </div>
  <div class="field">
  <% @personal_test.questions.each do |question| %> 
    <%= check_box_tag "@personal_test[question_ids][]", question.id, @personal_test.questions.include?(question) %>
    <%= question.question_text %>  
  <% end %>
  </div>
  
  <div class="actions">
    <a href="#" onclick="getElementById("question").submit()">Vista</a>
  </div>
  
  <%= @test_session.to_yaml %>
  <%= session.to_yaml %>
  
</div>
<%= link_to 'Breyta', edit_personal_test_path(@personal_test) %> |
<%= link_to 'Til baka', personal_tests_path %>




