<h2>Nýskráning</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Nafn:" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Heimilsfang:" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label "Símanúmer:" %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label "Póstnúmer:" %>
    <%= f.text_field :postal %>
  </div>

  <div class="field">
    <%= f.label "Netfang:" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
	<%= f.label "Lykilorð:" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label "Lykilorð aftur:" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <span class="help-block">Hakaðu við þær meðferðir sem þú býður uppá:</span>

  	  <% Category.find(:all).each do |cat| %>
	    <p><%= cat.name %></p>
	  	<% Treatment.find(:all).each do |treatment| %>  
	  		<% if(treatment.category_id == cat.id) %>
		      	<%= check_box_tag "user[treatment_ids][]", treatment.id, @user.treatments.include?(treatment) %> 
		        <%= treatment.name %><br />
		    <%end%>
		<%end%>	
		<br />
	  <%end%>

  <span class="help-block">
    Ef það er eitthvað sem þú vilt koma á framfæri (t.d. meðferð sem vantar á síðuna) þá getur þú tekið það fram hér. 
    Stjórnandi síðunnar mun svo fara yfir upplýsingarnar ásamt umsókninni.
  </span>
  
  <div class="field">
    <%= f.text_area :user_message %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Vista' %>
  </div>
<% end %>
