<%= form_for(@specialist) do |f| %>
  <% if @specialist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specialist.errors.count, "error") %> prohibited this specialist from being saved:</h2>

      <ul>
      <% @specialist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Nafn</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cms_name %><br />
    <%= f.text_field :cms_name %>
  </div>
  <div class="field">
    <label>Titill</label><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Tölvupóstur</label><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <label>Sími</label><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <label>Póstnúmer</label><br />
    <%= f.number_field :pnr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
