
<p><b>Name:</b> <%= @content_block.name %></p>
<p><b>Content:</b> <%= @content_block.content %></p>
<p><b>Description:</b> <%= @content_block.description %></p>
<p><b>Attachment:</b> <%= link_to "Attachment", attachment_path_for(@content_block.attachment) %></p>
<p><b>Category:</b> <%= @content_block.category_name %></p>
