<p><%= @name %> var að skrá sig sem meðferðaraðila í Musteri Hjartans</p>
<br />

<p><b>Upplýsingar um meðferðaraðilann</b></p>

<p>Sími: <%= @phone %></p> 

<p>Heimilisfang : <%= @postal %> <%= @address %></p>

<p><b>Skilaboð frá meðferðaraðila:</b></p>
<p><%= @message %></p>

