<h3>Tilbúin próf</h3>

<table class="table table-striped"> 
  <thead> 
    <tr> 
	  <th>ID</th> 
	  <th>Nafn</th> 
	  <th>Lýsing</th>
      <th>Búin til</th> 
	  <th>Aðgerðir</th> 
	</tr> 
  </thead> 
  <tbody> 
  <% @test_creators.each do |test_creator| %> 
    <tr> 
      <td><%= test_creator.id %></td> 
      <td><%= link_to test_creator.name, test_creator_path(test_creator) %></td> 
      <td><%= test_creator.description %></td> 
	  <td><%= test_creator.created_at %></td> 
  	  <td> <%= link_to 'Edit', edit_test_creator_path(test_creator), :class => 'btn btn-mini' %> <%= link_to 'Destroy', test_creator_path(test_creator), :method => :delete, :confirm => 'Ertu viss?', :class => 'btn btn-mini btn-danger' %> </td> 
	</tr> <% end %> 
   </tbody> 
</table> 
<%= link_to 'New', new_test_creator_path, :class => 'btn btn-primary' %>

<br />
