<h3>Meðferðaraðilar</h3>

<table class="table table-striped"> 
  <thead> 
    <tr> 
	  <th>ID</th> 
	  <th>Nafn</th>  
      <th>Póstnúmer</th>
      <th>Tölvupóstfang</th>
      <th>Stofnaður</th>
	  <th>Aðgerðir</th> 
	</tr> 
  </thead> 
  <tbody>  
  	  	
  <% @users.each do |user| %> 
  <%= user.build_healer %>
    <tr> 
      <td><%= user.id %></td> 
	  <td><%= user.healer.name %></td> 
      <td><%= user.healer.postal_code %></td> 
      <td><%= user.email %></td>
	  <td><%= user.created_at %></td> 
  	  <td> <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %> <%= link_to 'Destroy', user_path(user), :method => :delete, :confirm => 'Ertu viss?', :class => 'btn btn-mini btn-danger' %> </td> 
	</tr> <% end %> 
   </tbody> 
</table> 

<%= link_to 'New', new_user_path, :class => 'btn btn-primary' %>

<br />