<p id="notice"><%= notice %></p>

<p>
  <b>Notendanafn:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Virkur?</b>
  <%= @user.approved %>
</p>


<%= link_to ' Edit', edit_user_path(@user) %> |
<%= link_to ' Back', users_path %>
