<p id="notice"><%= notice %></p>

<p>
  <b>Nafn:</b>
  <%= @user.name %>
</p>

<p>
  <b>Símanúmer:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Tölvupóstur:</b>
  <%= @user.email %>
</p>

<p>
  <b>Heimilsfang:</b>
  <%= @user.address %>
</p>

<p>
  <b>Póstnúmer:</b>
  <%= @user.postal %>
</p>

<p>
  <b>Meðferðir:</b>
  <b> TODO !!</b>
</p>


<%= link_to ' Edit', edit_user_path(@user) %> |
<%= link_to ' Back', users_path %>
