<%= nested_form_for(@user_personal_test_session) do |f| %>

<div class="fields">
<p>
  <b><%= @user_personal_test_session.personal_test.name %></b>
</p>
<p>
  <b><%= simple_format(@user_personal_test_session.personal_test.description) %></b>
</p>
<p>

<%= f.fields_for :answered_questions do |a| %>
  <% a.label :question_id %>
  <%= a.check_box :answer %>
  <%= a.text_field :q_text %>
<% end %>
		 
</p>

</div>
<h3> Niðurstaða: </h3>
<p><% if @user_personal_test_session.result %>
	<% @cat_id = @user_personal_test_session.result %>
	<b>Id flokksins er <%= @cat_id.user_personal_test_session_id%></b><br />
	<b><%= @cat_id.inspect %></b><br />
  <b> þú skoraðir <%= @user_personal_test_session.result.score %> stig í flokknum <%= @user_personal_test_session.result.category_id %>.</b>
   <% end %>
</p>


  <div class="actions">
    <%= f.submit 'Áfram'%>
  </div>
<% end %>
<p>

<%= link_to 'Til baka', user_personal_test_sessions_path %>
