<%= nested_form_for(@user_personal_test_session) do |f| %>

<div class="fields">
<p>
  <b><%= @user_personal_test_session.personal_test.name %></b>
</p>
<p>
  <b><%= simple_format(@user_personal_test_session.personal_test.description) %></b>
</p>
<p>

<%= f.fields_for :answered_questions do |a| %>
  <% a.label :question_id %>
  <%= a.check_box :answer %>
  <%= a.text_field :q_text %>
<% end %>
		 
</p>

</div>
<h3> Niðurstaða: </h3>
<p><% if @user_personal_test_session.result.category_id != nil %>
	<% @cat_id = (@user_personal_test_session.result.category_id).to_i %>
    <h2>þú skoraðir <%= @user_personal_test_session.result.score %> stig í flokknum <%= Category.find(@cat_id).name %>.</h2><br />
    <b><p><%= Category.find(@cat_id).description %></p></b><br />
  
    <b>Meðferðir í þessum flokk</b><br />
    <% Category.find(@cat_id).treatments.each do |c| %> 

    <p><%= link_to c.name, treatment_path(c.id)  %><br /></p>

    <% end %>
  
   <% end %>
</p>

  <% if @user_personal_test_session.result.category_id == nil %>
    <div class="actions">
      <%= f.submit 'Áfram'%>
    </div>
  <% end %>
<% end %>
<p>

<%= link_to 'Til baka', "new" %>
