<p id="notice"><%= notice %></p>
<%= nested_form_for(@user_personal_test_session) do |f| %>

<div class="fields">
<p>
  <b><%= @user_personal_test_session.personal_test.name %></b>
</p>
<p>
  <b><%= @user_personal_test_session.personal_test.description %></b>
</p>
<p>

<%= f.fields_for :answered_questions do |a| %>
  <% a.label :question_id %>
  <%= a.check_box :answer %>
  <%= a.text_field :q_text %>
<% end %>
		 
</p>

</div>
<h3> Niðurstaða: </h3>
<p><% if @user_personal_test_session.results.exists? %>
  <b> þú skoraðir <%= @user_personal_test_session.results.last.score %> stig.</b>
      <% end %>
</p>

<p><% if @user_personal_test_session.results.exists? and @user_personal_test_session.results.last.score > 50  %>
      Þetta er frekar alvarlegt, þú verður að gera eitthvað í þínum málum.
  <b> <% elsif @user_personal_test_session.results.exists? and @user_personal_test_session.results.last.score > 1 %></b>
      Þú ert bara í fínum málum!
      <% end %>
</p>

  <div class="actions">
    <%= f.submit 'Taka próf'%>
  </div>
<% end %>
<p>
c
<%= link_to 'Edit', edit_user_personal_test_session_path(@user_personal_test_session) %> |
<%= link_to 'Back', user_personal_test_sessions_path %>
