<%= simple_form_for(@user_personal_test_session) do |f| %>

<div class="fields">
  <h3><%= @user_personal_test_session.personal_test.name %></h3>
  
  <p><b><%= simple_format(@user_personal_test_session.personal_test.description) %></b></p>

  <div class="fields" id="q_fields">
    <%= f.simple_fields_for :answered_questions do |ff| %>
      <p><%= ff.check_box :answer %>
      <%= ff.label ff.object.q_text %></p> 
    <% end %>
  </div>
</div>

<p><% if @user_personal_test_session.result.category_id != nil %>
	<% @cat_id = (@user_personal_test_session.result.category_id).to_i %>
    <h3>Niðurstaða: þú ættir að kynna þér <%= Category.find(@cat_id).name %>.</h3>
    <b><p><%= simple_format(Category.find(@cat_id).description) %></p></b><br />
  
    <p><b>Meðferðir sem við mælum með:</b></p>
    <p><% Category.find(@cat_id).treatments.each do |c| %> 

    <%= link_to c.name, treatment_path(c.id)  %>

    <% end %></p>
  
   <% end %>
</p>

  <% if @user_personal_test_session.result.category_id == nil %>
    <div class="actions">
      <%= f.submit 'Áfram'%>
    </div>
  <% end %>
<% end %>

<%= link_to 'Til baka', "new" %>
