<%= form_for @healer do |f| %>
  <div class="field">
    <%= f.label :name, 'Nafn' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :postal_code, 'Póstnúmer' %><br />
    <%= f.number_field :postal_code %>
  </div>
<% end %>
