<p id="notice"><%= notice %></p>

<p>
  <b>Nafn:</b>
  <%= @healer.name %>
</p>

<p>
  <b>Svæðisnúmer:</b>
  <%= @healer.postal_code %>
</p>



<%= link_to 'Edit', edit_healer_path(@healer) %> |
<%= link_to 'Back', healers_path %>
