<%= form_for(@news) do |f| %>

  <div class="field">
    <%= f.label "Titill:" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Höfundur:" %>
    <%= f.text_field :author %>
  </div>
  <div class="field" id="news">
    <%= f.label "Innihald:" %>
    <%= f.text_area :body, { :rows=>6, :width=>500 } %>
    </div>
    
  <div class="actions" value="Stofna">
    <%= f.submit 'Vista' %>
  </div>
<% end %>
