<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titill:" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Höfundur:" %>
    <%= f.text_field :author %>
  </div>
  <div class="field" id="news">
    <%= f.label "Innihald:" %>
    <%= f.text_area :body, { :rows=>6, :width=>500 } %>
    </div>
    
  <div class="actions" value="Stofna">
    <%= f.submit 'Vista' %>
  </div>
<% end %>
