<% @news_all.each do |news| %>
  <ul>
    <li><h2><%= news.title %></h2></li>
    <li><%= news.created_at.strftime("%Y-%m-%d %H:%M") %></li>
	<li><%= truncate(news.body, :length => 450) %><%= link_to ' meira', news %></li>
    <li><br /></li>
    <li><%= news.author %></li><br />
 	<% if (current_user && (current_user.is_admin).to_i == 0) %>
 	<table>
 		<li>
		    <tr><%= link_to 'Breyta ', edit_news_path(news) %></tr>
		    <tr><%= link_to 'Eyða', news, method: :delete, data: { confirm: 'Ertu viss?' } %></tr>
		</li>
    </table>
    <% end %>
  </ul>
<% end %>

<br />