<p id="notice"><%= notice %></p>

<p>
  <h3><%= @news.title %></h3>
</p>

<p>
  <%= simple_format(@news.body) %>
</p>

<p>
  <b>Höfundur:</b>
  <%= @news.author %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
