<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>new.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  <%= yield %>
  
  <%= form_for @message, :url => apply_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label "Nafn:" %>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label "Tölvupóstfang:" %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label "Efni:" %>
      <%= form.text_field :subject %>
    </div>
    
    <div class="field">
      <%= form.label "Innihald:" %>
      <%= form.text_area :body %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send" %>
  </fieldset>
<% end %>
  
  </body>
</html>
