<%= form_for(@contact) do |f| %>

  <div class="field">
    <%= f.label 'Nafn' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Netfang' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Símanúmer' %><br />
    <%= f.text_field :phone %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Vista' %>
  </div>
<% end %>
