<h3>Tengiliðir</h3>

<p>Hægt er að senda stjórnendum tölvupóst á netfangið musterikaerleikans@gmail.com </p><br />

<div class="row">        	
  <div class="span6">
	<table class="table table-striped"> 
	  <tr>
	    <th>Nafn</th>
	    <th>Netfang</th>
	    <th>Símanúmer</th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th><% if (current_user && (current_user.is_admin).to_i == 0) %> Aðgerðir <% end %></th>
	  </tr>
	  <% @contacts.each do |contact| %>
		<tr>
		  <td><%= contact.name %></td>
		  <td><%= contact.email %></td>
		  <td><%= contact.phone %></td>
		  <td></td>
		  <td></td>
		  <td></td>
		  <td>
		    <% if (current_user && (current_user.is_admin).to_i == 0) %>
		  	  <%= link_to 'Breyta', edit_contact_path(contact), :class => 'btn btn-mini' %> 
		  	  <%= link_to 'Eyða', contact_path(contact), :method => :delete, :confirm => 'Ertu viss?', :class => 'btn btn-mini btn-danger' %>
		    <% end %>
		  </td>
		</tr>
	  <% end %>
	</table>
  </div>
</div>
<br />

<%= link_to 'Bæta við', new_contact_path %>
