
<p>
  <h3><%= @book.title %></h3>
</p>

<p>
  <b>Lýsing:</b><br />
  <%= @book.description %>
</p>

<p>
  <b>Flokkur:</b><br />
  <%= @book.category %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Höfundur:</b><br />
  <%= @book.author %>
</p>

<% if (current_user && (current_user.is_admin).to_i == 1) %>
  <%= link_to 'Breyta', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Til baka', books_path %>
