<%= simple_form_for(@webstore) do |f| %>

  <div class="form-inputs">
    <%= f.input :title, :label => "Nafn"%>
    <%= f.input :description, :label => "Lýsing" %>
    <%= f.input :phone, :label => "Sími" %>
    <%= f.input :address, :label => "Staðsetning" %>
    <%= f.input :link, :label => "Vefslóð" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Vista" %>
  </div>
<% end %>
