<h1>Vefverslanir</h1>

<table>
  <tr>
    <th>Vefverslun</th>
    <th>Lýsing</th>
    <th>Sími</th>
    <th>Heimilsfang</th>
    <th>Vefslóð</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webstores.each do |webstore| %>
  <tr>
    <td><%= webstore.title %></td>
    <td><%= webstore.description %></td>
    <td><%= webstore.phone %></td>
    <td><%= webstore.address %></td>
    <td><%= webstore.link %></td>
    <td><%= link_to 'Show', webstore %></td>
    <td><%= link_to 'Edit', edit_webstore_path(webstore) %></td>
    <td><%= link_to 'Destroy', webstore, method: :delete, data: { confirm: 'Ertu viss?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webstore', new_webstore_path %>
