<p>
  <h3><%= @webstore.title %></h3>
</p>

<p>
  <%= @webstore.description %>
</p>

<p>
  <b>Sími:</b>
  <%= @webstore.phone %>
</p>

<p>
  <b>Heimilsfang:</b>
  <%= @webstore.address %>
</p>

<p>
  <b>Vefslóð:</b>
  <%= link_to @webstore.link %>
</p>

<% if (current_user && (current_user.is_admin).to_i == 1) %>
  <%= link_to 'Breyta', edit_webstore_path(@webstore) %> |
<% end %> 
<%= link_to 'Til baka', webstores_path %>
