<p id="notice"><%= notice %></p>

<p>
  <b>Verslun:</b>
  <%= @webstore.title %>
</p>

<p>
  <b>Lýsing:</b>
  <%= @webstore.description %>
</p>

<p>
  <b>Sími:</b>
  <%= @webstore.phone %>
</p>

<p>
  <b>Heimilsfang:</b>
  <%= @webstore.address %>
</p>

<p>
  <b>Vefslóð:</b>
  <%= @webstore.link %>
</p>


<%= link_to 'Breyta', edit_webstore_path(@webstore) %> |
<%= link_to 'Til baka', webstores_path %>
