<%= form_for(@about) do |f| %>

  <div class="field">
    <%= f.label 'Titill' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Lýsing' %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit 'Vista' %>
  </div>
<% end %>
