<div class="specialist_name">
  <%= @specialist.name %>
</div>
<div class="specialist_cms_name">
  <%= @specialist.cms_name %>
</div>

<div class="specialist_title">
  <%= @specialist.title %>
</div>


<div class="specialist_email">
  <%= @specialist.email %>
</div>

<div class="specialist_phone"> 
 <%= @specialist.phone %>
</div>

<div class="specialist_pnr">
  <%= @specialist.pnr %>
</div>
