<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Musteri</title>
		<!--Setting the width to device width-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   		<meta name="description" content="">
    	<meta name="author" content="">
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	<div id="fb-root"></div> <!-- facebook SDK -->
    <script>(function(d, s, id) 
    {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> <!-- end of SDK -->
    
    <!-- scripts for madmimi -->
    <script type="text/javascript">(function()  
    {
	  var form = document.getElementById("mad_mimi_signup_form"),
	      submit = document.getElementById("webform_submit_button"),
	      email = /.+@.+\..+/;
	      
	  form.onsubmit = function(event) {
	    var isValid = validate();
	    if(!isValid) {
	      for(var i = 0; i < form.elements.length; ++i) {
	        var input = form.elements[i]
	        if(input.className.indexOf("required") >= 0) {
	          input.onchange = validate;
	        }
	      }
	      return false;
	    }
	    if(form.getAttribute("data-webform-type") != 'iframe') {
	      form.className = "mimi_submitting";
	      submit.value = submit.getAttribute("data-submitting-text");    
	  		submit.disabled = true;
	  		submit.className = "disabled";
	    }
	
	    setTimeout(function() {
	      for(var i = 0; i < form.getElementsByTagName("input").length; ++i) {
	        var input = form.getElementsByTagName("input")[i]
	        if(input.getAttribute("type") == "text") {
	          input.value = "";
	        }
	        if(input.id == 'signup_email') {
	          input.placeholder = "Netfang";
	        } else {
	          input.placeholder = "";
	        }
	      }
	    }, 3000);
	  }
	  
	  function validate() {
	    var isValid = true;
	    
	    for(var i = 0; i < form.elements.length; ++i) {
	      var input = form.elements[i],
	          allDivs = input.parentNode.getElementsByTagName("div");
	
	      if(input.className.indexOf("required") >= 0) {
	        if(input.id == 'signup_email') {
	          if(!email.test(input.value)) {
	            emailErrorMessage(input, allDivs);
	            isValid = false;
	          } else {
	            removeErrorMessage(input, allDivs);
	          }
	        } else {
	          if((input.type == "checkbox" && !input.checked) || input.value == "" || input.value == "-1") {
	            fieldErrorMessage(input, allDivs);
	            isValid = false;
	          } else {
	            removeErrorMessage(input, allDivs);
	          }
	        }
	      }
	    }
	    
	    form.className = isValid ? "" : "mimi_invalid";
	    submit.value = isValid ? submit.getAttribute("data-default-text") : submit.getAttribute("data-invalid-text");
			submit.disabled = !isValid;
			submit.className = isValid ? "submit" : "disabled";
	    
	    return isValid;
	  }
	
	  function emailErrorMessage(input, allDivs) {
	    if(input.getAttribute("data-webform-type") == "iframe") {
	      input.className = "required invalid";
	      input.placeholder = input.getAttribute("data-required-message") || "This field is required";
	    } else {
	      allDivs[0].innerHTML = input.getAttribute("data-invalid-message") || "This field is invalid";
	    }
	  }
	
	  function fieldErrorMessage(input, allDivs) {
	    if(input.getAttribute("data-webform-type") == "iframe") {
	      input.className = "required invalid";
	      input.placeholder = input.getAttribute("data-required-message") || "This field is required";
	    } else {
	      for(var i = 0; i < allDivs.length; ++i) {
	        var element = allDivs[i]
	        if(element.className.indexOf("mimi_field_feedback") >= 0) {
	          return element.innerHTML = input.getAttribute("data-required-message") || "This field is required";
	        }
	      }
	    }
	  }
	
	  function removeErrorMessage(input, allDivs) {
	    if(input.getAttribute("data-webform-type") == "iframe") {
	      input.className = "required";
	    }
	
	    for(var i = 0; i < allDivs.length; ++i) {
	      var element = allDivs[i]
	      if(element.className.indexOf("mimi_field_feedback") >= 0) {
	        return element.innerHTML = "";
	      }
	    }
	  }
	})();
	</script> <!-- end of madmimi scripts -->
     
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Musteri Hjartans</a>
          <div class="nav-collapse">
            <ul class="nav">
              <!-- <li class="active"><a href="/">Home</a></li> -->
              <li><a href="/abouts">Um okkur</a></li>
              <li><a href="/contacts">Hafðu samband</a></li>
              <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Valmöguleikar <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="/books">Bækur</a></li>
				  <li><a href="/news/all">Fréttir</a></li>
				  <li><a href="/treatments">Meðferðir</a></li>
				  <li><a href="/members?is_approved=1">Meðferðaraðilar</a></li>
				  <li><a href="/user_personal_test_sessions/new">Persónupróf</a></li>
				  <li><a href="/webstores">Vefverslanir</a></li>
				  <% if current_user && current_user.is_admin.to_i == 1 %>
		    	    <li class="divider"></li>
				    <li class="nav-header">Stjórnandi</li>
				    <li><a href="/abouts/new">Breyta um okkur</a></li>
				    <li><a href="/books/new">Ný bók</a></li>
				    <li><a href="/news/new">Ný frétt</a></li>
				    <li><a href="/treatments/new">Ný meðferð</a></li>
				    <li><a href="/categories/new">Nýr flokkur</a></li>
				    <li><a href="/contacts/new">Nýr tengiliður</a></li>
				    <li><a href="/webstores/new">Nýr tengill</a></li>
				    <li><a href="/personal_tests/new">Nýtt próf</a></li>
				    <li><a href="/sayings/new">Nýtt spakmæli</a></li>
				    <li><a href="/members?is_approved=0">Ósamþykktir notendur</a></li>
				  <% end %>
				</ul>
			  </li>
		     </ul>
		     <form class="navbar-form pull-right" id="signed-in">
		       <% if user_signed_in? %>
		         <p><b><%= link_to current_user.name, member_path(current_user.id) %>
		         <%= link_to "Skrá út", destroy_user_session_path, :method => :delete %></b></p>
		       <% end %>
	         </form>
	         <% if !user_signed_in? %>
		       <%= form_for("user", :url => new_user_session_path, :html => { :class => "navbar-form pull-right"}) do |f|%>
			     <%= f.text_field :email, :placeholder => "Netfang", :class=>"span2"%>
			     <%= f.password_field :password, :placeholder => "Lykilorð", :class=>"span2"%>
			     <%= f.submit "Skrá inn", :class => "btn" %>
			     <%= link_to "Sækja um", new_user_registration_path, :class => "btn", :id => "naav-butt" %>
			   <% end %>
			 <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!-- end of Navbar -->

    <div class="container">

      <div id="myCarousel" class="carousel slide" id="caru">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><img src="/assets/6.jpg" /></div>
            <div class="item"><img src="/assets/5.jpg" /></div>
            <div class="item"><img src="/assets/4.jpg" /></div>
            <div class="item"><img src="/assets/1.jpg" /></div>
            <div class="item"><img src="/assets/2.jpg" /></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      
	<div id="user_nav" float="left">    			
	  <% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
	</div><!-- Flash messages-->  
        
    <div class="row">	
      <div class="span8">
          
		<div class="hero-unit">
		  <!-- page speccific content is loaded here -->
		  <%= yield %>
		</div>
		
      </div><!-- end main area -->
      <aside class="span4"><!-- Sidebar starts here  -->    
        <div class="row">
            <div class="widget span4" id="sidebar">
              <h3>Tilvitnun</h3>
                <p><i><b><%= Saying.random.message %></b></i></p>
            </div><!-- end widget -->
            <div class="widget span4" id="sidebar">
              <h3>Skráðu þig á póstlistann</h3>
               <form action="https://madmimi.com/signups/subscribe/66469" method="post" id="mad_mimi_signup_form"> 
			    <fieldset> 
			      <div class="mimi_field text email required"> 
			        <input id="signup_email" name="signup[email]" type="text" placeholder="Skrá Netfang hér" class="required"> 
			        <div class="mimi_field_feedback"></div><span class="mimi_funk"></span> 
			      </div> 
			      <div class="mimi_field action"> 
			        <input id="webform_submit_button" value="Skrá" type="submit" class="submit" data-default-text="Skrá" data-submitting-text="Sendi…" data-invalid-text="↑ Ógilt Netfang, reyndu aftur"> 
			      </div> 
			    </fieldset> 
               </form> 
            </div><!-- end widget -->

            <div class="widget span4" id="sidebar">
              <h3>Finndu okkur á Facebook</h3>
			  <div class="fb-like-box" data-href="http://www.facebook.com/MusteriHjartans" data-width="350" data-height="180" data-show-faces="true" data-border-color="#EEEEEE" data-stream="false" data-header="false"></div>
			 
            </div><!-- end widget -->
            <br />
            <div class="widget span4" >
              <h3>Hafðu það gott!</h3>	              
              <p><img src="http://lorempixel.com/550/325/nature/5" title="widget image" alt="an image was here" /></p>
            </div><!-- end widget -->
            
            
          </div><!-- end widget row -->
        </aside><!-- end sidebar -->
      </div><!-- end row -->
      <hr>
      <footer>
        <p><b>&copy; Musteri Hjartans 2012, Menntavegi 1, 101 Reykjavík,  Sími: xxx-xxxx, Netfang: <%= mail_to "musterihjartans@gmail.com", "musterihjartans@gmail.com" %></b></p>
      </footer>
    </div><!-- end container -->
  </body>
</html>
