<p id="notice"><%= notice %></p>

<p>
  <b>Nafn:</b>
  <%= @user.name %>
</p>

<p>
  <b>Símanúmer:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Tölvupóstur:</b>
  <%= @user.email %>
</p>

<p>
  <b>Heimilsfang:</b>
  <%= @user.address %>
</p>

<p>
  <b>Póstnúmer:</b>
  <%= @user.postal %>
</p>

<p>
  <b>Meðferðir:</b>
  <% @user.treatments.each do |t| %> 
  <b> <%= link_to t.name, treatment_path(t) %> </b> 
  <% end %>
</p>


<%= link_to ' Breyta', '/users/edit' %> |
<%= link_to ' Til baka', members_path %>
